<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>controller.loginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>actServlet</servlet-name>
    <servlet-class>controller.actServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>stuModifyPw</servlet-name>
    <servlet-class>controller.stuModifyPw</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>selectCourseByTerm</servlet-name>
    <servlet-class>controller.selectCourseByTerm</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectAllCourse</servlet-name>
    <servlet-class>controller.SelectAllCourse</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectServlet</servlet-name>
    <servlet-class>controller.SelectServlet</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>actServlet</servlet-name>
    <url-pattern>/actServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>stuModifyPw</servlet-name>
    <url-pattern>/stuModifyPw</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selectCourseByTerm</servlet-name>
    <url-pattern>/selectCourseByTerm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectAllCourse</servlet-name>
    <url-pattern>/SelectAllCourse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectServlet</servlet-name>
    <url-pattern>/SelectServlet</url-pattern>
  </servlet-mapping>

</web-app>